Web References/PWCrack/PWCrackingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Crack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="words" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrackResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GiveUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GiveUserInfoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrackSoapIn">
    <wsdl:part name="parameters" element="tns:Crack" />
  </wsdl:message>
  <wsdl:message name="CrackSoapOut">
    <wsdl:part name="parameters" element="tns:CrackResponse" />
  </wsdl:message>
  <wsdl:message name="GiveUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GiveUserInfo" />
  </wsdl:message>
  <wsdl:message name="GiveUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GiveUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="PWCrackingServiceSoap">
    <wsdl:operation name="Crack">
      <wsdl:input message="tns:CrackSoapIn" />
      <wsdl:output message="tns:CrackSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GiveUserInfo">
      <wsdl:input message="tns:GiveUserInfoSoapIn" />
      <wsdl:output message="tns:GiveUserInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PWCrackingServiceSoap" type="tns:PWCrackingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crack">
      <soap:operation soapAction="http://tempuri.org/Crack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveUserInfo">
      <soap:operation soapAction="http://tempuri.org/GiveUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PWCrackingServiceSoap12" type="tns:PWCrackingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crack">
      <soap12:operation soapAction="http://tempuri.org/Crack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GiveUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PWCrackingService">
    <wsdl:port name="PWCrackingServiceSoap" binding="tns:PWCrackingServiceSoap">
      <soap:address location="http://localhost:65080/PWCrackingService.asmx" />
    </wsdl:port>
    <wsdl:port name="PWCrackingServiceSoap12" binding="tns:PWCrackingServiceSoap12">
      <soap12:address location="http://localhost:65080/PWCrackingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>